body{
    height: 100%;
    width: 100%;
}

.content{
    padding: 20px 0px 20px 0px;
}

.container{
    width: 100%;
    position: relative;
}

.box{
    float: left;
    background-color: #008add;
    box-shadow: 0px 0px 1px #222;
    position: relative;
}
