<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ static_url("img/icon.png") }}">
    <title>{{ title }}</title>
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
<!--    <link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet">-->
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("js/jquery.1.10.2.min.js") }}"></script>
<!--    <script src="{{ static_url("js/jquery.color-2.1.2.min.js") }}"></script>-->
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("js/mason.min.js") }}"></script>
    <script src="{{ static_url("js/fastclick.js") }}"></script>
    <script src="{{ static_url("js/ZeroClipboard.min.js") }}"></script>
    <script src="{{ static_url("js/main.js") }}"></script>
    <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <button href ="#" class="btn btn-info leftButton" id="resetButton">Reset</button>
    <div class="navbar-inner">
        <a class="brand" href="/"><img class="logo" src="{{ static_url("img/paletta-logo.png") }}"></a>
    </div>
</div>
    <div class="content">
        <div class="container">
            {% for i in range(colors) %}
            <div class="box"></div>
            {% end %}
        </div>
    </div>
    <div class="footer">
        <h3>HSV Color palette for every Programmer</h3>
        <p>Palettaは顕色系(色相, 明度, 彩度)を用いることで「調和のとれた色」だけを集めたカラーパレットです. 色を選択すると, 周囲の色が同系統の色に変わります. 画面上部のResetボタンを押すと, 色の選択が解除されます.</p>
        <div class="socialBox">
            <a href="http://b.hatena.ne.jp/entry/{{ url }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon" data-hatena-bookmark-lang="ja" title="このページをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このページをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
            <div class="fb-like" data-href="{{ url }}" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="arial"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url }}" data-text="{{ title }}">Tweet</a>
        </div>
        <div class="license" align="center">
            © <a href = "http://mrk1869.com">Shoya Ishimaru</a> 2013
        </div>
    </div>
</body>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1918944-9']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
