<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Color Paretta</title>
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("js/jquery.1.10.2.min.js") }}"></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("js/mason.min.js") }}"></script>
    <script src="{{ static_url("js/main.js") }}"></script>
</head>
<body>
    <div class="content">
        <div class="container">
            {% for i in range(10) %}
            <div class="box"></div>
            {% end %}
        </div>
    </div>
</body>
</html>
