<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ static_url("img/icon.png") }}">
    <title>{{ title }}</title>
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
<!--    <link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet">-->
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("js/jquery.1.10.2.min.js") }}"></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("js/mason.min.js") }}"></script>
    <script src="{{ static_url("js/main.js") }}"></script>
    <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <button href ="#" class="btn btn-info leftButton" id="resetButton">Reset</button>
    <div class="navbar-inner">
        <a class="brand" href="/"><img class="logo" src="{{ static_url("img/paletta-logo.png") }}"></a>
    </div>
</div>
    <div class="content">
        <div class="container">
            {% for i in range(colors) %}
            <div class="box"></div>
            {% end %}
        </div>
    </div>
    <div class="footer">
        <h3>HSV Color palette for every Programer</h3>
        <p>Palettaは顕色系(色相, 明度, 彩度)を用いることで「調和のとれた色」を簡単に選ぶことができるカラーパレットです. 色を選択すると, 周囲の色が同系統の色に変わります. 画面上部のResetボタンを押すと, 色の選択が解除されます.</p>
        <div class="license" align="center">
            © <a href = "http://mrk1869.com">Shoya Ishimaru</a> 2013
        </div>
    </div>
</body>
</html>
