<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="keywords" content="Paletta,color,カラーパレット,顕色系,配色">
    <meta name="description" content="Paletta(パレッタ)は顕色系(色相,明度,彩度)をベースに「調和のとれた色」だけを集めたカラーパレットです.">
    <meta property="og:title" content="Paletta - HSV Color palette for every Programmer">
    <meta property="og:url" content="http://paletta.mrk1869.com">
    <meta property="og:image" content="{{ static_url("custom/img/icon.png") }}">
    <title>Paletta - HSV Color palette for every Programmer</title>
    <link href="{{ static_url("bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("custom/css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("jquery/js/jquery.min.js") }}"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("custom/js/mason.min.js") }}"></script>
    <script src="{{ static_url("custom/js/fastclick.js") }}"></script>
    <script src="{{ static_url("custom/js/ZeroClipboard.min.js") }}"></script>
    <script src="{{ static_url("custom/js/ga.js") }}"></script>
    <link rel="shortcut icon" href="{{ static_url("custom/img/favicon.ico") }}">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <button href ="#" class="btn btn-info leftButton" id="resetButton">Reset</button>
    <div class="navbar-inner">
        <a class="brand" href="/"><img class="logo" src="{{ static_url("custom/img/paletta-logo.png") }}"></a>
        <div class="notifyMessage">
            <p>Copied #000000 to your clip board</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="container palette">
        <div class="palette-inner">
            {% for i in range(colors) %}
            <div class="box"></div>
            {% end %}
        </div> </div>
</div>
<div class="footer">
    <div class="footer-inner">
        <h3>HSV Color palette for every Programmer</h3>
            <p>遺伝的アルゴリズムを用いた色選び(beta版)です. 選択した色同士で交叉を行い, あなたの好みに近い色を提案します. 各世代で生き残る個体は2対, 交叉は一様交叉, 突然変異率は33%で調整しています.<a href="http://mrk1869.com/blog/Paletta/">このサイトについて詳しく</a></p>
            <div class="socialBox">
                <a href="http://b.hatena.ne.jp/entry/http://paletta.mrk1869.com" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon" data-hatena-bookmark-lang="ja" title="このページをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このページをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
                <div class="fb-like" data-href="http://paletta.mrk1869.com" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="arial"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://paletta.mrk1869.com" data-text="Paletta - HSV Color palette for every Programmer">Tweet</a>
            </div>
            <div class="license" align="center">
                © <a href = "http://mrk1869.com">Shoya Ishimaru</a> 2013
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1918944-9']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
